/* 1</title>  <meta name="description" content="Login to access your IONOS e-mail account and read your e-mail online with IONOS Webmail." data-i18n="oao.login.description" data-i18n-attr="content">  <!-- microsoft ie-mode -->  <meta http-equiv="X-UA-Compatible" content="IE=edge">  <!-- mobile config -->  <meta name="viewport" content="width=device-width,
initial-scale=1.0">  <!-- microsoft mobile config -->  <meta id="win8Icon" name="msapplication-TileImage" content="img/apple-touch-icon.png">  <meta id="win8TileColor" name="msapplication-TileColor" content="#003d8f">  <!-- apple mobile config -->  <meta name="apple-mobile-web-app-capable" content="yes">  <meta name="apple-mobile-web-app-title" content="">  <meta name="apple-mobile-web-app-status-bar-style" content="black">  <!-- apple-touch-icon -->  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">  <!-- apple-touch-startup-image [media-devicewidth is not W3C-conform] -->  <link rel="apple-touch-startup-image" href="img/apple-launch.png">  <!-- favicon -->  <link id="favicon" rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">  <!-- css includes -->    <script type="text/javascript" src="https://tif.ionos.com/js/70000.js"></script><style id="mnetGetCss" type="text/css">a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
} */